.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.items{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#A8AEBF;
    text-decoration: none;
}

nav{
    background: rgba(18, 24, 41, 0.8);
    backdrop-filter: blur(40px);
    min-height: 40px;
    padding-top: 10px;
}
.itemsSalir{
    padding-left: 30px;
    cursor:pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#A8AEBF;
    text-decoration: none;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;
}
.menu{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 100px) and (max-width: 1000px) {
   
    .container{
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav{
        width: fit-content;
        position: sticky;
    }
    .botones{
        margin-right: 0px;
    }
    
}