<nav class="nav fixed-top">
  <div class="container-fluid">
    <div class="menu">
      <div class="imagen">
        <img src="assets\android-chrome-192x192.png" alt="" width="30" height="24" routerLink="inicio">
      </div>
      <div class="botones" *ngIf="userLogged | async as user; else logout">
        <span class="nav-item">
          <a class="nav-link items" routerLink="Bienvenido">Dashboard</a>
        </span>
        <span class="nav-item">
          <a class="nav-link itemsSalir" (click)="agregar()"> Agregar </a>
        </span>
        <span class="nav-item">
          <a class="nav-link itemsSalir" (click)="logOut()"> ← Salir</a>
        </span>
      </div>
    </div>
     <ng-template #logout>
      <div class="botones">
        <span class="nav-item">
          <a class="nav-link active items" routerLink="pelis">Peliculas</a>
        </span>
        <span class="nav-item">
          <a class="nav-link items" routerLink="series">Series</a>
        </span>
        <span class="nav-item">
          <a class="nav-link items" routerLink="ingreso">Ingresar ➝</a>
        </span>
      </div>
    </ng-template> 
  </div>
</nav>