<section class="todo">
    <div class="texto">
        <h1>Agregar un nuevo item</h1>
        <input class="search" placeholder="&#xF002;   Buscar películas y series "  (keyup)="busqueda(elemento)" [(ngModel)]="elemento"> 
    </div>
    <h5 class="item">{{contador()}} items</h5>
    <div class="contenedor">
        <div *ngFor="let card of filtro_busqueda; let i = index;">
            <app-card *ngIf= "'movie' == card.media_type" [name]="card.title" [rating]="card.vote_average" [image]="card.poster_path" [id]="card.id" [categoria]="card.media_type" [lista]="card.estado"[agregado]="card.elim"></app-card>
            <app-card *ngIf=" 'tv' == card.media_type" [name]="card.name" [rating]="card.vote_average" [image]="card.poster_path" [id]="card.id" [categoria]="card.media_type"[lista]="card.estado" [agregado]="card.elim"></app-card>
        </div>
    </div>
</section>
