.todo{
    padding-top: 8%;
}
h1{ 
    color:#EBEEF5;
    font-size: 70px;
    font-weight: bold;
}
h5{ 
    font-size: medium;
    color: #BEB7FB ;
    padding-top: 1%;
    padding-left: 0.5%;
    font-family: Poppins;
}

.texto{
    height: 30%;
    margin-left: 5.7%;
    padding: 0.5%;
}

.item{
    margin-left: 6%;
    color:#767E94;
    margin-top: 2%;
    margin-bottom: 2%;
}

.search{
    background-color: rgba(0, 0, 0, 0.2);
    color:#8E95A9;
    border-radius: 10px;
    border: 1px solid #475869;
    width: 20%;
    padding: 18px;
    width: 100%;
    max-width: 344px;
    margin-top: 2%;
}
.search::placeholder{
    font-family: 'Poppins', 'FontAwesome';
    color: var(--grey600);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.contenedor{
    display: flex;  
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}
.contenedor > div:empty{
    display: none;
}
@media (min-width: 100px) and (max-width: 1000px){
    h1{
        font-size: 30px;
    }
   
}
