.todo{
    padding-top: 8%;
}
.texto{
    padding-left: 6%;
    padding-top: 5%;
}
h1{ 
    color: #EBEEF5;
    font-weight: bold;
}
h5{ 
    font-size: medium;
    color:#8E95A9;
    padding-top: 1%;
}

.botones{
    height: 30%;
    margin-top: 4%;
    margin-left: 6%;
    background-color: #192a3f;
    padding: 0.6%;
    border-radius: 10px;
    width: fit-content;
}
button{
    background-color: #192a3f;
    color: #EBE9FE;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}
.active{
    background-color: #7B6EF6;
    color: #EBE9FE;
    display: inline-block;
    border-radius: 6px;
    padding-left: 32px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.texto{
    height: 30%;
    margin-left: 5.7%;
    padding: 0.5%;
    color:#767E94;
}
.texto1{
    font-size: 30px;
    display: inline-block;
    font-family: Poppins;  
    font-weight: bold; 
}
.texto2{
    font-size: 15px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;   
    margin-left: 0.5%;
}

.contenedor{
    display: flex;  
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}
.contenedor > div:empty{
    display: none;
}

.search{
    background-color: rgba(0, 0, 0, 0.2);
    color:#8E95A9;
    border-radius: 10px;
    border: 1px solid #475869;
    width: 20%;
    padding: 18px;
    width: 100%;
    max-width: 344px;
    margin-top: 2%;
}
.search::placeholder{
    font-family: 'Poppins', 'FontAwesome';
    color: var(--grey600);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
@media (min-width: 100px) and (max-width: 500px) {
    .contenedor{
        margin-left: 0px;
    }
    .texto{
        padding-top: 10%;
    }

}