<section class="todo">
    <div class="texto">
        <h1>PelisUP!</h1>
        <h5>Plataforma para ver películas y series 😉</h5>
         <input class="search" placeholder="&#xF002;   Buscar películas y series "  (keyup)="busqueda(elemento)" [(ngModel)]="elemento"> 
    </div>

    <div class="botones">
        <button (click)="filter = 'Todos'" [ngClass]="filter == 'Todos' ? 'active' : ''" >Todos</button>
        <button (click)="filter = 'movie'" [ngClass]="filter == 'movie' ? 'active' : ''">Peliculas</button>
        <button (click)="filter = 'tv'" [ngClass]="filter == 'tv' ? 'active' : ''">Series</button>
    </div>
    <div>
        <ul class="texto">
             <li class="texto1">{{filter}}</li>
            <li class="texto2">({{contador()}})</li>  
        </ul>
    </div>
    <div class="contenedor">
    <div *ngFor="let card of filtro_busqueda; let i = index;">
        <app-card *ngIf="filter == 'Todos' && 'movie' == card.media_type" [name]="card.title" [rating]="card.vote_average" [image]="card.poster_path" [id]="card.id" [categoria]="card.media_type"></app-card>
        <app-card *ngIf="filter == 'Todos' && 'tv' == card.media_type" [name]="card.name" [rating]="card.vote_average" [image]="card.poster_path" [id]="card.id" [categoria]="card.media_type"></app-card>
        <app-card *ngIf="filter == 'movie' && filter == card.media_type " [name]="card.original_title" [rating]="card.vote_average" [image]="card.poster_path" [id]="card.id" [categoria]="card.media_type"></app-card>
        <app-card *ngIf="filter == 'tv' && filter == card.media_type" [name]="card.name" [rating]="card.vote_average" [image]="card.poster_path" [id]="card.id" [categoria]="card.media_type"></app-card>
    </div>
</div>
</section>