<div>
    <div class="conteiner">
        <div class="contenedor">
            <h5 class="arriba">PelisUp!  /   Peliculas</h5>
            <h4 class="siguiente">{{titulo}}</h4>
        </div>
        <img src="https://image.tmdb.org/t/p/w500{{imagen}}" class="imagen" alt=""> 
    </div >
    <div class="row justify-content-around columnas ">
        <div class="imm col-3"> 
            <img src="https://image.tmdb.org/t/p/w500{{imagen}}" class="imagen-media" alt="">
        </div>
        
        <div class="colum col-9">
            <h3>{{titulo}}</h3>
            <h5 class="resena">{{resena}}</h5>
            <ul class="contenedor2">
                <li class="items">
                    <i class="far fa-star"></i>
                </li>
                <li class="items">
                    <h5>{{calificacion}}</h5>
                </li>
            </ul>
            <div class="contenido col-9">
                <div class="izquierda">
                    <h4 class="chico">Type</h4>
                    <h5 class="medio">Movie</h5>
                    <h4 class="chico">Release data</h4>
                    <h5 class="medio">{{fecha}}</h5>
                    <h4 class="chico">Run time</h4>
                    <h5 class="medio">---</h5>
                    <h4 class="chico">Genres</h4>
                    <h5 class="medio">---</h5>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    