.conteiner{
    width: 90vw;
    height: 35vw;
}
.imagen{
    max-height: 60%;
    width: 90%;
    border-radius: 40px;
    margin-top: 5%;
    margin-left: 9%;
    object-fit: cover;
}
.contenedor{
    flex-direction: column;
    padding: 40px;
    position: absolute;
    width: 30%;
    height: 13%;
    margin-left: 12%;
    margin-top: 23%;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(24px);    
    border-radius: 24px;
    padding-bottom: 5%;
}
.arriba{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;  
    display: flex;
    align-items: center;
    color: #BEB7FB;

}
.siguiente{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #EBEEF5;
}

.imagen-media{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.columnas{
    margin-left: 10%;
}
.contenido{
    display: flex;
    flex-wrap: wrap;
}
.resena{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #8E95A9;
    width: 50%;
}
.contenedor2{
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    width: fit-content;
}

.items {
    display: inline-block;
    margin: 0px;
    font-size: 20px;
    color:#FFAD49;
    border-radius: 6px;
    padding: 3px;
    }

.items i{
  margin: 0px 0px;
    }

.chico{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
}
.medio{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #C3C8D4;
}
.izquierda{
    margin-right: 15%;
}
@media(min-width: 100px) and (max-width: 700px) {
    .imagen{
        width: fit-content;
    }
    .contenedor{
        width: 50%;
        height: 10%;
        padding: 4%;
        margin-top: 17%;
    }
    .siguiente{
        font-size: 20px;
    }
    .columnas{
        margin-top: 10%;
        margin-left: 0px;
        margin-bottom: 40%;
    }
    .imm{
        height: 100%;
    }
    .resena{
        width: unset;
        font-size: 15px;
        line-height: initial;
    }
    .imagen{
        width: 95%;
    }
    .chico{
        font-size: small;
        margin-top: 0px;
    }
    .medio{
        font-size: 15px;
        margin-top: 0px;
    }
    .colum{
        width: 65%;
    }
}