<section>
<div class="container-fluid contenedor ">
  <div class="columnas row ">
    <div class="imagen col-4">
      <img src="assets\Saly-11.png" class="imagen" alt="Ingreso">
    </div>
    <div class="form col-4">
      <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
        <h1>Ingresar</h1>
        <div class="form-floating mail mb-3">
          <i class="far fa-envelope"></i>
          <input type="email" class="form-control" formControlName="email">
          <label for="floatingInput">Email</label>
          <span class="form-text text-danger" *ngIf="campoEsValido('email')">
            No es una direccion valida
          </span>
        </div>
        <div class="form-floating">
          <i class="fas fa-key"></i>
          <i class="far fa-eye"></i>
          <input type="password" class="form-control" formControlName="password">
          <label for="floatingPassword">Contraseña</label>
          <span class="form-text text-danger" *ngIf="campoEsValido('password')">
            La contraseña debe contener al menos 6 caracteres
          </span>
        </div>
        <div class="cuenta">
          <h5>¿No tienes cuenta?</h5>
          <button button (click)="registro()" class="botonR">Registrar</button>
        </div>
        <div class="boton1 col-12">
          <button type="submit" class="btn">Ingresar</button>
        </div>
        <hr/>
        <div class="google">
          <img src="assets/google_icon_130924.png" class="imgo" alt="">
          <button button (click)="IngresarConGoogle()" class="boton">Sign up with Google</button>
        </div>
        
      </form>
    </div>
  </div>
  

</div>
</section>