.contenedor{
    height: 100%;
}
.form{
    margin-top: 10%;
    margin-bottom: 30%;
}
.imagen{
    margin-top: 4%;
}
    h1{
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;

}
.columnas{
    justify-content: space-evenly;
}
input{
    background-color: rgba(0, 0, 0, 0.2);
    color:#8E95A9;
    border-radius: 10px;
    border: 1px solid #475869;
    margin-top: 6%;
}
input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color:#8E95A9;
    border-radius: 10px;
    border: 1px solid #475869;
  }
label{
    font-family: 'Poppins';
    color: #475069;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 5%;
}
i{
    position: absolute;
    padding-left: 3%;
    padding-top: 1%;
    color: #475069;
}
.fa-eye{
    padding-left: 90%;
    padding-top: 2.5vh;
}
.boton1{
    text-align: center;
}
.btn{
    background-color: #7B6EF6;
    margin-top: 10%;
    padding: 4%;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Poppins;
    margin-bottom: 2%;
    width: 100%;
    align-items: center;
}
.google{
    background-color:rgba(66, 133, 244);
    width: 23vh;
    margin-top: 5%;
    padding: 0px;
    margin-left: 33%;
}
.imgo{
    width: 16%;
    margin:0px
}
.boton{
    color: #FFFFFF;
    font-family: Poppins;
    background-color:rgba(66, 133, 244);
    display: inline-block;
    border: none;   
}
.cuenta{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 2%;
}
.botonR{
    color: #3dadda;
    font-family: Poppins;
    font-weight:bold;
    font-size: larger;
    font-style: normal;
    background: #1d293f;
    display: inline-block;
    border: none; 
}
@media (min-width: 320px) and (max-width: 900px){
   h1{
       font-size: 50px;
   }
   .imagen{
       width: 30vw;
       padding-left: 0px;
       margin-top: 15%;
   }
 .columnas{
    justify-content: start;
    }
    form {
     width: fit-content;
    }
    label{
       margin-left: 8%;
    }
    i{
    padding-top: 3%;
    }
    .fa-eye{   
     padding-left: 85%;}
   
    .google{
        margin-left: 0px;
    }
    .boton{
        font-size: 10px;
    }
    .contenedor{
        margin-bottom: 30%;
        margin-top: 30%;
    }
}