<section class="container-fluid p-1">
  <div class="row contenedor justify-content-around ">

    <div class=" col-2 card" style="width: 25rem;">
      <ul class="contenedor2">
        <li class="items">
          <i class="far fa-star"></i>
        </li>
        <li class="items">
          <h5>{{rating}}</h5>
        </li>
      </ul>
      <img src="https://image.tmdb.org/t/p/w500{{image}}" class="card-img-top" alt="" (click)="goTo(id,categoria)">
      <div class="card-body">
        <h5 class="card-title text-light">{{name}}</h5>
      </div>
      <div class="boton" *ngIf="lista == true">
        <button button (click)="agrego()" class="boton"> + Agregar a mi lista</button>
      </div>
      <div class="boton" *ngIf="agregado == true">
        <button button (click)="elimino()" class="botonE"> - Eliminar de mi lista</button>
      </div>
      <div class="modal" *ngIf="modal == true">
        <div class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">✖ Error ✖</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Este elemento ya se encuentra agregado</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>