.card{
    background-color: #20283E;
    color:#EBEEF5;
    padding-top: 3%;
    margin-bottom: 1%;
    height: 20%;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.contenedor{
    margin-left: 4.6%;
    margin-right: 0%;
    width: 80%;
}
.contenedor2{
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
    
}
    
.items {
    display: inline-block;
    margin: 0px;
    font-size: 20px;
    color:#FFAD49;
    border-radius: 6px;
    padding: 3px;
    }

.items i{
  margin: 0px 0px;
    }

.boton{
    border: none;
    background-color: #20283E;
    color: #7B6EF6;
    font-family: Poppins;
    padding-bottom: 2%;
    font-weight: bolder;
    cursor:cell;
}
.botonE{
    border: none;
    background-color: #20283E;
    color: #FF6161;
    font-family: Poppins;
    padding-bottom: 2%;
    font-weight: bolder;
    cursor:pointer;
}
