header{
    height: 20%;
}

.todo{
    width: 100%;
    height: 100%;
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
    color: #ebeef5;
}

