<section class="todo">
    <div class="texto">
        <h5>PelisUp!</h5>
        <h1>Series</h1>
        <input class="search" placeholder="&#xF002;   Buscar películas y series "  (keyup)="busqueda(elemento)" [(ngModel)]="elemento"> 
    </div>

    <h5 class="item">{{contador()}} items</h5>
    <div class="contenedor">
        <div *ngFor="let card of filtro_busqueda; let i = index;">
            <app-card [name]="card.name" [rating]="card.vote_average" [image]="card.poster_path" [id]="card.id" [categoria]="tv"></app-card>
        </div>
    </div>
</section>
