<h1>Bienvenido</h1>
<div class="contenedor"> 
    <div class="contenido1" (click)="peliculas()">
        <h4>{{contador()}}</h4>
        <h5>Peliculas</h5>
    </div>
    <div class="contenido2"  (click)="tv()">
        <h4>{{contador1()}}</h4>
        <h5>Series</h5>
    </div>
</div>
