.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 25%;
}
.contenido1{
    background-color: #121829;
    width: 40%;
    margin-left: 10%;
    padding: 2%;
    text-align: center;
    border-radius: 15px;
    
}
.contenido2{
    background-color: #121829;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    text-align: center;
    border-radius: 15px;
}
h1{
    padding-top: 10%;
    font-size: 80px;
    margin-left: 10%;
}
h4{
    color:#EBEEF5;
    font-family: Poppins;
    font-weight: bold;
}
h5{
    color: #767E94;
    font-family: Poppins;
}
@media (min-width: 100px) and (max-width: 1000px){
    h1{
        font-size: 40px;
        text-align: center;
        margin-top: 40%;
    }
    .contenedor{
        margin-bottom: 100%;
        margin-top: 20%;
    }
}